.sideBar{
    position: fixed;
    width: 220px;
}
.a{
    color: #050505;
    font-size: 20px;
    padding: 16px 0 16px 44px;
}
.Store{
    font-size: 24px;
}
.sideBarEl{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    cursor: pointer;
}